@color-avvy: #e6005c;
@links:purple;

 html .cms-home{
   background: url('/@{baseDir}/pub/media/img2.jpg') no-repeat;
   background-size: cover;
   color: @color-white;
   padding: 10px;
   height: auto;
}

body{
  font-family: "Apple Chancery";
}

//**-----header------**//
.action.primary{
  background: @color-avvy;
  border: 2px solid black;
}

.minicart-wrapper .action.showcart:before{
  color: @color-avvy;
}

.logo img{
  height: inherit;
  margin-left: 225%;
  width: 100%;
}
.page-header .panel.wrapper{
  background-color: lightyellow;
  border-radius: 10px;
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.page-header .panel.wrapper a{
  color: black;
  text-decoration: none;
}

 .new_link >p{
   margin-left: 10px;
}

.header.panel  .header.links  li a:visited{
  color: midnightblue;
}

//**-----content------**//
.navigation, .header.content {
  border-radius: 10px 10px 0 0;
  background: #f4f4f4;
}

.navigation .level0 .level-top{
  font-size: 18px;
}

  //**-----footer------**//
.footer.content .links a{
  color: @color-avvy;
}

.page-footer{
  border-radius: 0 0 10px 10px;
  padding-bottom: 0;
}

