@color-avvy: #e6005c;
@links     : purple;

html {
  text-align: center;
}

html .cms-home {
  background     : url('https://www.sigmabeauty.com/media/wysiwyg/home/Holidays_Promotion_Lipstick_DESKTOP_2880x1444.jpg') no-repeat;
  background-size: cover;
  color          : @color-white;
  height         : auto;
}

body {
  font-family: 'Baskervville', serif;
  //font-family: "Apple Chancery";
  color      : @color-avvy;
}

//**-----header------**//
.navigation,
.header.content {
  background: black;
  color     : white;
}

.navigation .level0 .level-top {
  font-size: 18px;
  color    : white;
}

.navigation .level0 .level-top:hover {
  color: @color-avvy;
}

.navigation .level0.has-active>.level-top,
.navigation .level0.active>.level-top {
  border-color: @color-avvy ;
  color       : inherit;
}

.action.primary {
  background: @color-avvy;
  border    : 2px solid black;
}

.minicart-wrapper .action.showcart:before {
  color: @color-avvy;
}

.logo img {
  height     : inherit;
  margin-left: 225%;
  width      : 100%;
}

.logo img {
  &:hover {
    fill: white;
  }
}

.page-header .panel.wrapper {
  color          : white;
  background     : black;
  text-decoration: none;
  font-weight    : bold;
}

.page-header .panel.wrapper a {
  color          : white;
  text-decoration: none;
}

.new_link>p {
  margin-left: 10px;
}

.header.panel .header.links li a:visited {
  color: midnightblue;
}

//**-----content------**//

//**-----footer------**//
.footer.content .links li,
.footer.content .links a {
  color: @color-avvy;
}

.footer.content .links li:hover,
.footer.content .links a:hover {
  color: white;
}

.footer.content .links a:visited {
  color: inherit;

}

.page-footer {
  border-radius : 0 0 10px 10px;
  padding-bottom: 0;
  background    : black;
}